<link rel="stylesheet" href="navbar.css" />
<nav id="navbar" class="flex-container">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'post-create' %}">New Post</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Sign Up</a></li>
          {% endif %}
          <div class="searchbox" alignment="right">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search from here"
          />
        </div>
        </ul>
      </nav>
