{% extends 'C:\Users\Hp\Desktop\Django project\project1\app1\Templates\app1\main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>
        <b><h1>Delete Post</h1></b>
      </legend>
      <br /><h1>Are you sure you want to delete the post "{{ object.topic }}"</h1>
      <br /><br />
    </fieldset>
    <br /><br />
    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
  </form>
</div>

{% endblock content %}