{% extends 'C:\Users\Hp\Desktop\Django project\project1\app1\Templates\app1\main.html' %}
{% load crispy_forms_tags %}
 {% block content %}
<div class="section">
  <div class="image">
    <img src="{{ user.profile.image.url }}" /><br><br><br><br><br>
    <div class="prof">
      <h2 class="name">{{ user.username }}</h2>
      <p class="email">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
    <legend><b><h1>Profile Info</h1></legend><br>
    {{u_form|crispy}}
    {{p_form|crispy}}
  </fieldset>
    <br><br>
<button type="submit">Update</button>
</form>
</div>

{% endblock content %}
